/* beauty.css */
.beauty-container {
  background-color: #02170c;
  padding: 2rem 4rem;
  height: fit-content;
}

.beauty-title {
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-size: 3rem;
  line-height: 1.5;
}

.beauty-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  height: 40%;
  width: 60%;
  margin: 0 auto;
}

.beauty-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #80be9e;
  border-radius: 24px;
}

.row-span-2 {
  grid-row: span 2;
}

.col-span-1 {
  grid-column: span 1;
}

.row-1 {
  grid-row: 1;
}

.col-2 {
  grid-column: 2;
}

.row-3 {
  grid-row: 3;
}

@media screen and (max-width: 1200px) {
  .beauty-title {
    font-size: 2.5rem;
  }
  .beauty-grid {
    display: block;
    height: 80%;
    width: 80%;
    margin: 0 auto;
  }
  .beauty-image {
    margin-bottom: 2rem;
    width: 80%;
    height: 80%;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .beauty-image {
    width: 100%;
    height: 100%;
  }
}
